*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
  
}
/* NAVBAR */
.nav a {
  position: absolute;
  color: rgb(0, 0, 0);
  font-weight: bolder;
  font-size: 20px;
  text-decoration: none;
  transition: 0.3s;
  z-index: 1;
}

.nav a:hover {
  opacity: 0.5;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
  background-color: white;
}

.nav-list {
  list-style: none;
  display: flex;
  margin-left: 80%;
}

.div {
    background-color: #475c63;
    display: flex;
    padding-left: 58px;
    align-items: center;
    gap: 20px;
    line-height: 136.5%;
    justify-content: space-between;
  }
  @media (max-width: 991px) {
    .div {
      flex-wrap: wrap;
      padding-left: 20px;
    }
  }
  .div-2 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    margin: auto 0;
  }
  @media (max-width: 991px) {
    .div-2 {
      max-width: 100%;
    }
  }
  .div-3 {
    letter-spacing: 1.92px;
    align-self: stretch;
    font: 800 24px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-3 {
      max-width: 100%;
    }
  }
  .div-4 {
    text-align: center;
    letter-spacing: 1.6px;
    margin-top: 28px;
    font: 400 20px/27px Inter, sans-serif;
  }
  .div-5 {
    -webkit-text-stroke-width: 0.5;
    -webkit-text-stroke-color: #fff;
    border-color: rgba(255, 255, 255, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 1);
    margin-top: 222px;
    color: #000;
    white-space: nowrap;
    text-align: center;
    letter-spacing: 1.44px;
    justify-content: center;
    padding: 16px 49px;
    font: 700 18px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-5 {
      margin-top: 40px;
      white-space: initial;
      padding: 0 20px;
    }
  }
  .div-6 {
    border-color: rgba(226, 213, 198, 1);
    border-style: solid;
    border-width: 3px;
    background-color: #e2d5c6;
    align-self: stretch;
    width: 3px;
    height: 168px;
    margin: auto 0;
  }
  .div-7 {
    border-radius: 104px;
    background-color: #fff;
    align-self: stretch;
    display: flex;
    align-items: center;
    font-size: 19px;
    color: #5c5c5c;
    font-weight: 400;
    letter-spacing: 1.52px;
    justify-content: center;
    padding: 80px 60px;
  }
  @media (max-width: 991px) {
    .div-7 {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .div-8 {
    display: flex;
    margin-top: 84px;
    width: 562px;
    max-width: 100%;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-8 {
      margin-top: 40px;
    }
  }
  .div-9 {
    color: #000;
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: #000;
    letter-spacing: 3.2px;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 1px;
    align-self: center;
    font: 32px Inter, sans-serif;
  }
  .div-10 {
    font-family: Inter, sans-serif;
    margin-top: 84px;
  }
  @media (max-width: 991px) {
    .div-10 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-11 {
    border-color: rgba(196, 196, 196, 1);
    border-style: solid;
    border-width: 1px;
    background-color: #c4c4c4;
    margin-top: 19px;
    height: 3px;
  }
  @media (max-width: 991px) {
    .div-11 {
      max-width: 100%;
    }
  }
  .div-12 {
    font-family: Inter, sans-serif;
    margin-top: 68px;
  }
  @media (max-width: 991px) {
    .div-12 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-13 {
    border-color: rgba(196, 196, 196, 1);
    border-style: solid;
    border-width: 1px;
    background-color: #c4c4c4;
    margin-top: 16px;
    height: 3px;
  }
  @media (max-width: 991px) {
    .div-13 {
      max-width: 100%;
    }
  }
  .div-14 {
    display: flex;
    margin-top: 75px;
    gap: 20px;
    white-space: nowrap;
    justify-content: space-between;
  }
  @media (max-width: 991px) {
    .div-14 {
      max-width: 100%;
      flex-wrap: wrap;
      margin-top: 40px;
      white-space: initial;
    }
  }
  .div-15 {
    font-family: Inter, sans-serif;
  }
  .img {
    aspect-ratio: 1.18;
    object-fit: auto;
    object-position: center;
    width: 26px;
  }
  .div-16 {
    border-color: rgba(196, 196, 196, 1);
    border-style: solid;
    border-width: 1px;
    background-color: #c4c4c4;
    margin-top: 10px;
    height: 3px;
  }
  @media (max-width: 991px) {
    .div-16 {
      max-width: 100%;
    }
  }
  .div-17 {
    -webkit-text-stroke-width: 0.5;
    -webkit-text-stroke-color: #fff;
    border-color: rgba(255, 255, 255, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    background-color: rgba(71, 92, 99, 1);
    margin-top: 64px;
    align-items: center;
    color: #fff;
    text-align: center;
    letter-spacing: 1.44px;
    justify-content: center;
    padding: 19px 60px 19px 80px;
    font: 18px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-17 {
      max-width: 100%;
      margin-top: 40px;
      padding: 0 20px;
    }
  }

